.contents.row
  = form_tag('/tweets', method: :post) do
    %h3
      POST

    .row
      .input-field.col.s12
        %input{:name => "name", :placeholder => "Nickname", :type => "text"}/
        %label.Nick_name Nick Name
        
    .row
      .input-field.col.s12
        %input{:name => "image", :placeholder => "Image Url", :type => "text"}/
        %label.image.URL image URL

    .row
      .input-field.col.s12
        %input{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}/
        %label.text text

    %input.waves-effect.waves-light.btn{:type => "submit", :value => "SENT"}